.footer-icon{
    width: 50px; 
    height: auto;
    border-radius: 50%; 

}

.footer-email {
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    align-items: center; 
    padding-bottom: 4px;
    width: 50px; 
    height: auto;
    border-radius: 40%; 

}
  

.footer-content {
    display: flex;
    margin-left: 56rem;
}